<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         strict="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="tests">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <!--<listener class="PHPUnit\XHProfTestListener\XHProfTestListener" file="vendor/phpunit/test-listener-xhprof/src/XHProfTestListener.php">-->
        <!--<arguments>-->
        <!--<array>-->
        <!--<element key="appNamespace">-->
        <!--<string>App</string>-->
        <!--</element>-->
        <!--<element key="xhprofWeb">-->
        <!--<string>http://localhost:8081/vendor/lox/xhprof/xhprof_html/index.php</string>-->
        <!--</element>-->
        <!--<element key="xhprofLibFile">-->
        <!--<string>./vendor/lox/xhprof/xhprof_lib/utils/xhprof_lib.php</string>-->
        <!--</element>-->
        <!--<element key="xhprofRunsFile">-->
        <!--<string>./vendor/lox/xhprof/xhprof_lib/utils/xhprof_runs.php</string>-->
        <!--</element>-->
        <!--<element key="xhprofFlags">-->
        <!--<string>XHPROF_FLAGS_CPU,XHPROF_FLAGS_MEMORY</string>-->
        <!--</element>-->
        <!--<element key="xhprofIgnore">-->
        <!--<string>call_user_func,call_user_func_array</string>-->
        <!--</element>-->
        <!--</array>-->
        <!--</arguments>-->
        <!--</listener>-->
    </listeners>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
